<table class="min-w-max w-full divide-y divide-gray-200">
  <thead>
    <tr>
      <th class="py-3 px-6 bg-gray-100 text-left text-xs font-medium text-gray-500 uppercase">id</th>
      <th class="py-3 px-6 bg-gray-100 text-left text-xs font-medium text-gray-500 uppercase">name</th>
      <th class="py-3 px-6 bg-gray-100 text-left text-xs font-medium text-gray-500 uppercase">email</th>
      <th class="py-3 px-6 bg-gray-100 text-left text-xs font-medium text-gray-500 uppercase">role</th>
      <th class="py-3 px-6 bg-gray-100 text-left text-xs font-medium text-gray-500 uppercase">created_at</th>
      <th class="py-3 px-6 bg-gray-100 text-left text-xs font-medium text-gray-500 uppercase">updated_at</th>
      <th class="py-3 px-6 bg-gray-100 text-left text-xs font-medium text-gray-500 uppercase">actions</th>
    </tr>
  </thead>
  <tbody class="bg-white divide-y divide-gray-200">
    <% @users.each do |user| %>
      <tr>
        <td class="py-4 px-6 whitespace-nowrap w-16"><%= user.id %></td>
        <td class="py-4 px-6 whitespace-nowrap"><%= user.name %></td>
        <td class="py-4 px-6 whitespace-nowrap"><%= user.email %></td>
        <td class="py-4 px-6 whitespace-nowrap"><%= user.role.title %></td>
        <td class="py-4 px-6 whitespace-nowrap"><%= user.created_at.to_formatted_s(:long) %></td>
        <td class="py-4 px-6 whitespace-nowrap"><%= user.updated_at.to_formatted_s(:long) %></td>
        <td class="py-4 px-6 whitespace-nowrap">
          <%= link_to 'edit', edit_admin_user_path(user), class: "text-blue-500 hover:text-blue-700" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
